<!DOCTYPE html>
<html>
 <head>
  <title>Howdy</title>
  <link rel="icon" href="howdy.png">
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="Howdy.css">
 </head>
 <body>
  <img src="loading gif.gif" style="width: 1920px; height: 1000px;" width="1920" height="1080"/>
  <iframe width="1" height="1" src="https://www.youtube.com/embed/atuFSv2bLa8?rel=0&autoplay=1&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 </body>

</html>
